<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.camera.mapper.CameraPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.camera.entity.CameraPrice">
        <id column="id" property="id" />
        <result column="cam_id" property="camId" />
        <result column="price" property="price" />
        <result column="supplier" property="supplier" />
        <result column="add_time" property="addTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cam_id, price,supplier,add_time
    </sql>
    <select id="selectCameraPriceByCondition" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from tb_cam_price
        <where>
            <trim suffixOverrides="and">
                <if test="id != null and id != ''">
                    and id = #{id}
                </if>
                <if test="camId != null and camId != ''">
                    and cam_id = #{camId}
                </if>
            </trim>
        </where>
        order by add_time asc
    </select>

</mapper>
